
<h1>Welcome to Business Reviews</h1>
<p>This an application for business reviews, this application have been created with  <a href="http://rubyonrails.org/">Ruby on Rails</a> Programming languages</p>

